<?xml version="1.0"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="AdventureWorksContext" connectionString="Data Source=(local);Initial Catalog=AdventureWorks2014;MultipleActiveResultSets=true;Persist Security Info=True;Integrated Security=true;Application Name=My .NET Application" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
